---
layout: layouts/home.njk
menu:
  visible: true
  title: Home
  order: 0
---

<div class="columns is-centered">
<div class="column is-half">
<h1 class="has-text-centered">தமிழ் கவிதை Site 🦄</h1>
<br>
<div class="columns is-mobile">
<div class="column">
<img
src="{{ "/" | url(true) }}img/life.png"
alt="Tamil Life Quotes"
height="120"
width="120"
transform-images="webp"
/>   
</div>
<div class="column">    
<img
src="{{ "/" | url(true) }}img/motivation.png"
alt="Tamil Motivational Quotes"
height="120"
width="120"
transform-images="webp"
/>       
</div>
<div class="column">
<img
src="{{ "/" | url(true) }}img/love.png"
alt="Tamil Love Quotes"
height="120"
width="120"
transform-images="webp"
/>        
</div>
</div>
</div>
</div>
<hr>
<div class="buttons is-centered has-text-centered">
<a target="_blank" rel="nofollow noreferrer noopener" class="button join-more is-link is-rounded" data-umami-event="kavithai whatsapp" href="https://amsk.in/tamilsmschannel">🔔 Free Whatsapp Updates</a>
</div>
<hr>
<div class="has-text-left post-content">
<p>தமிழ் கவிதை மற்றும் தமிழ் கோட்ஸ் பதிவுகள் - பல்வேறு தமிழ் கவிதை இணையதளங்களில் இருந்து சேகரிக்கப்பட்ட கவிதைகள். உங்கள் சிந்தனைகளை வளைக்கும் தமிழ் கவிதை மற்றும் ஸ்டேட்டஸ்கள் இங்கு கிடைக்கும்.</p>
<p>📝 கலெக்ட் and Copied கவிதை From kavithai Blogs, Social Media profiles like Twitter and Facebook</p>
<p>📦 Free <b>Tamil kavithai Updates</b> in <a href="https://www.facebook.com/tamilsmsblog" title="Follow us on Facebook" target="_blank" rel="nofollow noreferrer noopener">Facebook <b>(Tamil SMS)</b></a>, <a href="https://www.instagram.com/tamilsms/" title="Follow us on instagram" target="_blank" rel="nofollow noreferrer noopener">instagram @tamilsms</i></a> and <a href="https://twitter.com/tamilsmsblog" title="Follow us on Twitter" target="_blank" rel="nofollow noreferrer noopener">Twitter @tamilsmsblog</a></p>
<p> 💚 This site Mainly Build for Sharing and Store My Favourite Social Media தமிழ் கவிதை and Tamil Quotes</p>
<p>🛍 Build using lume the Static site generator for Lume {{lume_version}}, the static site generator for Deno + PWA Support</p>
<blockquote>Tamil Copied Kavithai and Tamil Kavithai Database.</blockquote>
</div>
<hr>
<div id="search"></div>
<hr>
{% set postslist = search.pages("type=posts", "date=desc", 3) %}
<h4>Latest Kavithai {% if postslist.length == 1 %}Post{% else %}{{ postslist.length }} Posts 📕{% endif %}</h4>
<hr>
{% include "templates/postslist.njk" %}
<p>More posts can be found in <a href="/posts/">the archive</a>.</p>