---
layout: layouts/home.njk
menu:
  visible: true
  title: Home
  order: 0
---

<div class="columns is-centered">
<div class="column is-half">
<h1 class="has-text-centered">தமிழ் கவிதை Site 🦄</h1>
<br>
<div class="columns is-mobile">
<div class="column">
<img
src="{{ "/" | url(true) }}img/life.png"
alt="Tamil Life Quotes"
height="120"
width="120"
transform-images="webp"
/>   
</div>
<div class="column">    
<img
src="{{ "/" | url(true) }}img/motivation.png"
alt="Tamil Motivational Quotes"
height="120"
width="120"
transform-images="webp"
/>       
</div>
<div class="column">
<img
src="{{ "/" | url(true) }}img/love.png"
alt="Tamil Love Quotes"
height="120"
width="120"
transform-images="webp"
/>        
</div>
</div>
</div>
</div>
<hr>
<div class="buttons is-centered has-text-centered">
<a target="_blank" rel="nofollow noreferrer noopener" class="button join-more is-success is-rounded" data-umami-event="kavithai whatsapp" href="https://amsk.in/tamilsmschannel">🔔 Free Whatsapp Updates</a>
</div>
<hr>
<div class="has-text-left post-content">
<p>📝 கலெக்ட் and Copied கவிதை From Social Media profiles like Twitter and Facebook</p>
<p>📦 Follow <b>Tamil Copied Kavithai</b> in <a href="https://www.instagram.com/copiedkavithai/" title="Follow us on instagram" target="_blank" rel="nofollow noreferrer noopener">instagram @copiedkavithai</i></a> and <a href="https://twitter.com/copiedkavithai" title="Follow us on Twitter" target="_blank" rel="nofollow noreferrer noopener">Twitter @copiedkavithai</a></p>
<p> 💚 This site Mainly Build for Sharing and Store My Favourite Social Media தமிழ் கவிதை and Tamil Quotes</p>
<p>🛍 Build using lume the Static site generator for Lume {{lume_version}}, the static site generator for Deno + PWA Support</p>
</div>
<hr>
<div id="search"></div>
<hr>
{% set postslist = search.pages("type=posts", "date=desc", 3) %}
<h4>Latest Kavithai {% if postslist.length == 1 %}Post{% else %}{{ postslist.length }} Posts 📕{% endif %}</h4>
<hr>
{% include "templates/postslist.njk" %}
<p>More posts can be found in <a href="/posts/">the archive</a>.</p>