---
url: /manifest.json
---

{
	"name": "Copied Kavithai",
	"short_name": "Copied Kavithai",
	"description": "Copied Kavithai From Tamil Kavithai Sites, Facebook Profiles, and Twitter Profiles - Tamil Kavithai and Tamil Quotes Status.",
	"icons": [{
			"src": "{{ "/" | url(true) }}icons/192.png",
			"sizes": "192x192",
			"type": "image/png",
			"purpose": "any"
		},
		{
			"src": "{{ "/" | url(true) }}icons/192.png",
			"sizes": "192x192",
			"type": "image/png",
			"purpose": "maskable"
		},
		{
			"src": "{{ "/" | url(true) }}icons/512.png",
			"sizes": "512x512",
			"type": "image/png",
			"purpose": "any"
		},
		{
			"src": "{{ "/" | url(true) }}icons/512.png",
			"sizes": "512x512",
			"type": "image/png",
			"purpose": "maskable"
		}
	],
	"theme_color": "#6eec83",
	"background_color": "#004AAD",
	"orientation": "portrait",
	"start_url": "/",
	"display": "standalone"
}