---
layout: layouts/page.njk
title: OptOut Trackers and Privacy Policy
description: Copied Kavithai - OptOut Trackers and Privacy Policy - our users and control the data trackers from our website.
menu:
  title: "Privacy Policy"
  visible: true
  order: 4
---

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0.3/dist/pretty-checkbox.min.css" integrity="sha256-sI14MHRjSf+KF9MjQHjqHkbDPwsdKXUkhBUdnGCg1iU=" crossorigin="anonymous">

<hr>

<h2>Website Policy</h2>

<p>our website focus on content and user Privacy - our motto is provide a privacy focused content.</p>

- ZERO ads <br>
- user can control the data trackers <br>
- data's are not sell to any third party services or companies <br>
- every week all user data's cleaned and deleted from Analytics logs <br>
- This site is open source all the codes and data's are available in github <br>

<br>

<p><b>Again we promise to our visitors all your data's are safe and we never sold it to anyone and anytime you can ON and OFF the data tracking </b></p>

<p>
some our app and website only collect user location, device and browser for our future app development and web page user experience and extra improvement.
</p>

<h2 id="opt">OF and OFF</h2>

<p>ON and OFF the Google Analytics and umami Tracker - our visitors can control the data trackers from our website.</p>

  <div class="content">
  <div class="columns is-centered">
  <div class="column is-half">
  <div class="card-content">
    <blockquote class="notification is-link boxpanel">
    <hr>
    <div class="pretty p-default p-curve p-toggle">
        <input type="checkbox" type="checkbox" id="trigger" />
        <div class="state p-success p-on">
            <label>ON</label>
        </div>
        <div class="state p-danger p-off">
            <label>OFF</label>
        </div>
    </div>
    <br>
    <br>
    <button onclick="optIn()" class="button is-success databutton">ON</button>
    <button onclick="optOut()" class="button is-warning databutton">OFF</button>
    </blockquote>
    <div id="notice"></div>
  </div>
  </div>
  </div>
  </div>
 
 <hr>

 <h2>Content Policy</h2>

 <p>Most of our content's are copied from social profiles like twitter and facebook - we respect the authors for there kavithai content and all content credits goes to them.</p>
 <p> we don't sell any content from the website all rights and credits goes to respective owners </p>
