{% for post in postslist %}
<h2 style="font-size: 15px;" class="home-title">
<a href="{{ post.data.url }}" {% if entry.data.url == url %} aria-current="page"{% endif %}>
{% if post.data.title %}
{{ post.data.title }}
 {% else %}
{{ post.url }}
{% endif %}
</a>
</h2> 
<p style="font-size: 10px;" class="post-date">
<time class="postList-date" datetime="{{ post.data.updated_date | date('DATE') }}">
{{ post.data.updated_date | date('HUMAN_DATE') }}
</time>
{% for tag in post.data.tags %}
{% set page = search.page("type=tag tag='" + tag + "'") %}
{% if page %}
<a style="font-size: 10px;" href="{{ page.data.url  }}" class="tag is-info">{{ tag }}</a>
{% endif %}
{% endfor %}
</p>
<hr>
{% endfor %}