---
layout: layouts/base.njk
bodyClass: body-tag
pageTitle: Kavithai index
---

<h1>{{ pageTitle }}{%- if pagination.previous %} Page - {{ pagination.page }} {% else %}{% endif %}</h1>

<hr>

{% set postslist = results %}
{% include "templates/postslist.njk" %}

<br>

<p class="post-nav has-text-centered" style="font-size: 16px;">
    {%- if pagination.previous %}
      <a href="{{ pagination.previous }}" rel="prev">← Previous</a>
    {% endif %}
      {%- if pagination.next %} Page - {{ pagination.page }} {% else %}{% endif %}
    {%- if pagination.next %}
      <a href="{{ pagination.next }}" rel="next">Next →</a>
    {% endif %}
  </ul>
</p>
<br>