<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">

    <title>{{ title or site.title }}</title>
    <meta name="description" content="{{ description or site.description }}">
    <link rel="canonical" itemprop="url" href="{{ url | url(true) }}">

    <meta property="og:title" content="{{ title or site.title }}">
    <meta property="og:type" content="blog">
    <meta property="og:description" content="{{ description or site.description }}">
    <meta name="twitter:title" content="{{ title or site.title }}">
    <meta name="twitter:description" content="{{ description or site.description }}">
    <meta name="twitter:url" content="{{ url | url(true) }}" />
    <meta itemprop="name" content="{{ title or site.title }}">
    <meta itemprop="description" content="{{ description or site.description }}">
    {% if type === 'posts' %}
    <meta property="article:published_time" content="{{date | date("ATOM")}}">
    <meta property="article:modified_time" content="{{updated_date | date("ATOM")}}">
    {% endif %}

    <link as="style" rel="preload" href="/style.css"/>
    <link rel="stylesheet" href="/style.css">
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ site.title }}">
    <link rel="alternate" href="/feed.json" type="application/json" title="{{ site.title }}">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Copied Kavithai">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white-translucent">
    <meta name="apple-mobile-web-app-title" content="Copied Kavithai">
    <meta name="HandheldFriendly" content="True">
    <meta name="referrer" content="no-referrer-when-downgrade" />

    <link rel="shortcut icon" type="image/x-icon" href="{{ "/" | url(true) }}icons/favicon.ico" />
    <link rel="icon" type="image/png" sizes="196x196" href="{{ "/" | url(true) }}icons/favicon-196.png">
    <link rel="apple-touch-icon" href="{{ "/" | url(true) }}icons/apple-icon-180.png">
  
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
    <link rel="dns-prefetch" href="//fonts.bunny.net">
    <link rel="dns-prefetch" href="//hulu.sanweb.info">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com">

    <link rel="manifest" href="/manifest.json">
    <link rel="prefetch" href="/manifest.json">

    {% if (type != 'posts') and (type != 'tag') %}
    <script type="application/ld+json">
    {
	"@context": "https://schema.org",
	"@type": "WebSite",
	"publisher": {
		"@type": "Organization",
		"name": "{{ title or site.title }}",
		"url": "{{ "/" | url(true) }}",
		"logo": {
			"@type": "ImageObject",
			"url": "https://images.weserv.nl/?url=https://kavithai.tamilsms.blog/wp-content/uploads/2022/07/copied-kavithai.png&w=60&h=60",
			"width": 60,
			"height": 60
		}
	},
	"url": "{{ url | url(true) }}",
	"image": {
		"@type": "ImageObject",
		"url": "{{ metas.image }}",
		"width": 1200,
		"height": 630
	},
	"mainEntityOfPage": {
		"@type": "WebPage",
		"@id": "{{ url | url(true) }}"
	},
	"description": "{{ description or site.description }}"
}
    </script>
    {% endif %}

  {% if type === 'posts' %}
  <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Article",
        "publisher": {
            "@type": "Organization",
            "name": "{{ site.title }}",
            "url": "{{ "/" | url(true) }}",
            "logo": {
                "@type": "ImageObject",
                "url": "https://images.weserv.nl/?url=https://kavithai.tamilsms.blog/wp-content/uploads/2022/07/copied-kavithai.png&w=60&h=60",
                "width": 60,
                "height": 60
            }
        },
        "author": {
            "@type": "Person",
            "name": "Tamil SMS",
            "image": {
                "@type": "ImageObject",
                "url": "https://images.weserv.nl/?url=https://kavithai.tamilsms.blog/wp-content/uploads/2022/07/copied-kavithai.png&w=250&h=250",
                "width": 250,
                "height": 250
            },
            "url": "{{ "/" | url(true) }}",
            "sameAs": [
                "https://instagram.com/copiedkavithai",
                "https://twitter.com/copiedkavithai"
            ]
        },
        "headline": "{{ title or site.title }}",
        "url": "{{ url | url(true) }}",
        "datePublished": "{{date | date("ATOM")}}",
        "dateModified": "{{updated_date | date("ATOM")}}",
        "image": {
            "@type": "ImageObject",
            "url": "{{ metas.image }}",
            "width": 1200,
            "height": 630
        },
        "keywords": "{{ tags }}",
        "description": "{{ description or site.description }}",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ "/" | url(true) }}"
        }
    }
  </script>
  {% endif %}

  <script async defer data-website-id="e981ef76-97a6-478b-8d54-64103c9fabbe" data-domains="kavithai.site" src="https://hulu.sanweb.info/script.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-HDF44Q7QPZ"></script>
  <script>
    if(true) {
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
          
     gtag('config', 'G-HDF44Q7QPZ', {
     'page_title' : '{{ title or site.title }}',
     'page_location': '{{ url | url(true) }}'
     });
    }
  </script>
  </head>
  <body>

<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
<div class="navbar-brand">
<a class="navbar-item" href="/"><img src="{{ "/" | url(true) }}img/Icon-72x72.webp" alt="{{ site.title }}" loading="lazy"></a>
<a role="button" class="navbar-burger burger" aria-label="menu" data-target="navMenu">
<span aria-hidden="true"></span>
<span aria-hidden="true"></span>
<span aria-hidden="true"></span>
</a>
</div>
<div id="navMenu" class="navbar-menu">
<div class="navbar-end">
{%- for entry in search.pages("menu.visible=true", "menu.order") %}
<a class="navbar-item" href="{{ entry.data.url }}"{% if entry.data.url == url %} aria-current="page"{% endif %}>
 {{ entry.data.menu.title or entry.data.title }}
</a>
{%- endfor %}
</div>
</div>
</nav>

<section class="section">
<div class="container">
<div class="columns is-centered">
<div class="column is-three-fifths">
<div class="content">
<main class="{{ bodyClass }}">
{{ content | safe }}
</main>
</div>
<div>
</div>
</div>
</section>

<footer class="footer">
<div class="content has-text-centered">
<p class="is-size-6"><b>&#169; {{ current_year() }} - Copied Kavithai Database</b> - Last Build at: <code>{{date | date("ATOM")}}</code></p>
</div>
</footer>

<script src="/flying-pages.min.js" defer></script>
<script>
(function() {
  var burger = document.querySelector('.burger');
  var nav = document.querySelector('#' + burger.dataset.target);

  burger.addEventListener('click', function() {
      burger.classList.toggle('is-active');
      nav.classList.toggle('is-active');
  });
})();
window.FPConfig = {
    delay: 0,
    ignoreKeywords: ["\/ghost", "\/ghost\/#", "\/p\/", "\/signup\/", "\/signin\/", "\/account\/", "#signout", "\/public\/members.js", "?action=signin", "?action=signup", "#", ".png", ".jpeg", ".jpg", ".gif", ".svg"],
    maxRPS: 3,
    hoverDelay: 50
};
if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
        navigator.serviceWorker.register('{{ "/" | url(true) }}sw.js').then(function(registration) {
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }).catch(function(err) {
            console.log('ServiceWorker registration failed: ', err);
        });
    });
}
</script>

</body>
</html>