---
layout: layouts/base.njk
bodyClass: body-post
---

<article class="{{ bodyClass }}" data-pagefind-body>
<h1 class="title has-text-centered">{{ title }}</h1>
<span class="post-tags">
{% for tag in tags %}
<a href="/tag/{{ tag | lower | replace(" ", "-") }}/" class="tag is-danger">{{ tag }}</a>
{% endfor %}
</span> - 
<time class="post-date" datetime="{{ updated_date | date('DATE') }}">
{{ updated_date | date('HUMAN_DATE') }}
</time>
<br />
<br />
<section class="post-content">
{{ content | safe }}
</section>
</article>
<br>
<hr>
<p class="post-nav has-text-centered" style="font-size: 15px;">
    {%- set previousPost = search.previousPage(url, "type=posts") %}
    {%- if previousPost %}
      ← Previous: <a href="{{ previousPost.data.url }}" rel="prev">{{ previousPost.data.title }}</a>
    {% endif %}
    {%- set nextPost = search.nextPage(url, "type=posts") %}
    {%- if nextPost %}
      <strong>Next: <a href="{{ nextPost.data.url }}" rel="next">{{ nextPost.data.title }}</a> →</strong>
    {% endif %}
  </ul>
</p>
<hr>