---
layout: layouts/base.njk
bodyClass: body-tag
---

<h1 style="font-size: 17px;">Tagged - #{{ tag }}</h1>
<br>
{% set postslist = search.pages("'" + tag + "'") %}
{% include "templates/taglist.njk" %}
<hr>
<p style="font-size: 15px;">See <a href="/tag/">all tags</a></p>
